.main_memes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    gap: 20px;
}

.meme{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);

}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.subtitle {
    text-align: center;
    margin-bottom: 20px;
}